<?xml version="1.0"?>
<launch>

    <env name="OPENAI_API_KEY" value=""/>
    <env name="DESCRIPTION_FOLDER_PATH" value="$(find drone_gpt)/description"/>

    <node name="gptPrompter" pkg="drone_gpt" type="gpt_prompter.py" output="screen"/>
    <node name="main" pkg="drone_gpt" type="main.py" output="screen"/>
    <node name="contoller" pkg="drone_gpt" type="turtle_controller_closed_loop.py" output="screen"/>
    <node name="stt" pkg="drone_gpt" type="speech_to_text.py" output="screen"/>

</launch>